.login-btn,
.login-icon {
  @apply rounded-full;
  height: 100px;
  width: 100px;
}

.login-btn > div {
  transition: 0.3s;
}

.login-icon:hover {
  background-color: var(--color-accent);
}

.login-icon {
  @apply bg-no-repeat bg-center bg-cover;
  background-color: #fff;
  mask-image: url('/assets/login.svg');
}

.login-btn:hover > div:not(.login-icon),
.login-btn--clicked > div:not(.login-icon) {
  opacity: 0;
}

.login-btn--clicked {
  animation: clicked 300ms ease-in-out;
}

@keyframes clicked {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }
}
