.header {
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  transition: 0.3s;
}

.header--scrolled {
  --tw-bg-opacity: 0.7;
  @apply shadow-lg;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.header-date {
  font-family: var(--font-trajan-pro);
  font-size: 16px;
  color: hsl(var(--svadba-earth-300));
  user-select: none;
}
