.dress-code-colors {
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 30px 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dress-code-colors > * {
  margin-bottom: 20px;
}

.dress-code-colors > *:not(:last-child) {
  margin-right: 20px;
}

/* @media (max-width: 768px) {
  .dress-code-colors {
    grid-gap: 15px 30px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media (max-width: 576px) {
  .dress-code-colors {
    grid-gap: 15px 15px;
  }
} */
