.logo,
.logo-icon {
  position: relative;
  display: block;
  user-select: none;
  text-align: center;
}

.logo-icon {
  --logo-icon-size: 40px;
}

.logo-icon img {
  width: var(--logo-icon-size);
  height: var(--logo-icon-size);
}

@media screen and (max-width: 576px) {
  .logo-icon {
    --logo-icon-size: 30px;
  }
}
