@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html:root {
  --svadba-base: #1e1e1e;
}

*::selection {
  background: hsl(var(--svadba-earth-300));
}

body {
  position: relative;
}

main {
  margin-bottom: 30px;
}

button[data-slot='tab'][data-selected='true'] > div {
  color: #fff !important;
}

.content {
  width: 95%;
  max-width: 1065px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--svadba-background));
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--svadba-primary));
}

@media (max-width: 576px) {
  main {
    margin-bottom: 20px;
  }
}
