.home-poster {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.home-poster__img {
  width: 95%;
  max-width: 700px;
  height: auto !important;
}

.home__side {
  color: #fff !important;
  letter-spacing: 3.6px;
  left: calc(0% - 220px);
}
