.welcome {
  --welcome-margin: 130px;
  --p-size: 24px;
  --p-margin: 40px;
  --timer-gap: 50px;
  --timer-title-size: 24px;
  --timer-value-size: 64px;
  --timer-value-margin: 20px;
  position: relative;
  padding: var(--welcome-margin) 0;
}

.welcome-flower {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.welcome-flower--l {
  left: 0;
}

.welcome-flower--r {
  transform: scale(-1, 1);
  right: 0;
}

.welcome-content {
  max-width: 800px;
  font-size: var(--p-size);
  line-height: 1.5em;
}

.welcome-content > p {
  display: block;
  margin-bottom: var(--p-margin);
}

.welcome-timer > div.welcome-timer-item:not(:last-child) {
  margin-right: var(--timer-gap);
}

.welcome-timer-item__value {
  font-size: var(--timer-value-size);
  line-height: 1;
  font-weight: bold;
  margin-bottom: var(--timer-value-margin);
}

.welcome-timer-item__value {
  font-size: var(--timer-value-size);
  line-height: 1;
  font-weight: bold;
  margin-bottom: var(--timer-value-margin);
}

.welcome-timer-item__title {
  font-size: var(--timer-title-size);
}
