.welcome {
  --welcome-margin: 130px;
  --p-size: 20px;
  --p-margin: 40px;
  --timer-gap-r: 50px;
  --timer-gap-b: 0px;
  --timer-title-size: 24px;
  --timer-value-size: 64px;
  --timer-value-margin: 20px;
  position: relative;
  padding: var(--welcome-margin) 0;
  overflow-x: hidden;
}

.welcome-flower {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  user-select: none;
  z-index: -1;
}

.welcome-flower--l {
  left: -50px;
}

.welcome-flower--r {
  transform: scale(-1, 1);
  right: -50px;
}

.welcome-content {
  max-width: 800px;
  font-size: var(--p-size);
  line-height: 1.5em;
}

.welcome-desc {
  display: block;
  margin-bottom: var(--p-margin);
}

.welcome-desc > p:first-child:first-letter {
  font-size: calc(var(--p-size) + 4px);
  font-weight: bold;
  font-family: var(--font-trajan-pro);
}

.welcome-timer > div.welcome-timer-item:not(:last-child) {
  margin-right: var(--timer-gap-r);
  margin-bottom: var(--timer-gap-b);
}

.welcome-timer-item__value {
  font-size: var(--timer-value-size);
  line-height: 1;
  font-weight: bold;
  margin-bottom: var(--timer-value-margin);
  letter-spacing: 0.1em;
}

.welcome-timer-item__value {
  font-size: var(--timer-value-size);
  line-height: 1;
  font-weight: bold;
  margin-bottom: var(--timer-value-margin);
}

.welcome-timer-item__title {
  font-size: var(--timer-title-size);
}

@media screen and (max-width: 768px) {
  .welcome {
    --p-size: 18px;
  }

  .welcome-content {
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .welcome {
    --welcome-margin: 0px;
    --p-margin: 20px;
    --p-size: 16px;
    --timer-gap-r: 0px;
    --timer-gap-b: 20px;
    --timer-title-size: 18px;
    --timer-value-size: 56px;
    --timer-value-margin: 10px;
  }

  .welcome-timer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .welcome-timer-item {
    margin: 20px !important;
  }

  .welcome-flower {
    top: 300px;
  }

  .welcome-flower--l {
    left: -150px;
  }

  .welcome-flower--r {
    right: -150px;
  }
}

/**
  TODO: Сдвинуть поближе цветочки
 */
